#   requirements.txt file

#   a python program depends on other modules
#   required modules in a text file (requirements.txt by convention)
#   people can install them by running pip install -r requirements.txt

Click==7.0
Flask==1.0.2
Flask-PyMongo==2.2.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pymongo==3.7.2
Werkzeug==0.15.3