#   requirements.txt file

#   a python program depends on other modules
#   required modules in a text file (requirements.txt by convention)
#   people can install them by running pip install -r requirements.txt

bcrypt==3.1.7
click==7.1.2
dnspython==2.0.0
Flask==1.1.2
Flask-Cache==0.13.1
Flask-Materialize==0.2.4
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
numpy==1.19.1
pandas==1.1.0
pymongo==3.10.1
pytz==2020.1
Werkzeug==1.0.1