<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
    <section>
    {% for category in categories %}
    <div class="container">
        <h3> {{category.name}} recipes<i class="fa fa-envira" aria-hidden="true"></i></h3>
    </div>
    {% endfor %}
    {% for recipe in recipes %}
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card">
                        <span class="teaser-overlay responsive-img"></span>
                        <div class="card-image">
                            <img class="teaser-image" src="{{ recipe.imageURL }}">
                            <span class="card-title">{{recipe.name}}</span>
                        </div>
                        <!--tag vegan, vegetarian or neither vegan nor vegatarian-->
                        <div class="card-content"> 
                            <ul class="tabs">
                                {% if recipe.category == "vegetarian" %}
                                <li class="tab half teal-text teal lighten-5">
                                    <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                </li>
                                {% elif recipe.category == "vegan" %}
                                <li class="tab half pink-text pink lighten-5">
                                    <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                </li>
                                {% else %}
                                <li class="tab red-text red lighten-5">
                                    <p><i class="fa fa-times" aria-hidden="true"></i> Not Vegetarian nor vegan </p>
                                </li>
                                {% endif%}
                            </ul>
                            <!--indicator duration and portions in text format-->
                            {% if recipe.duration != 0 and recipe.portion != 0 %}
                                <p class="text-centered">It takes <b>{{recipe.duration}} minutes </b> to make this recipe, and it <b> feeds {{recipe.portions}} people</b></p>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            <a href="/recipe/{{recipe._id}}">Go to recipe!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}