/*--------------------------------------------fonts*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@400;700;900&family=Leckerli+One&family=Montserrat:wght@500;700;800&display=swap');

/*--------------------------------------------text styling*/
body{
    scroll-behavior: smooth;
    font-family: Lato, sans-serif important!;
}
h1{
    font-family: Montserrat;
}
h2, h3{
    font-family: Indie Flower;
}

/*--------------------------------------------navigation*/
nav{
    z-index: -1;
}
nav .brand-logo{
    height: 35px;
    width: 35px;
    margin: 1%;
    background-image: url("../static/img/the-pink-turnip-transparent-logo.png");
    background-size: cover;
    z-index: 5 !important;
}

/*--------------------------------------------home*/
/*-----------------------------------landing*/
.landing{
    height:60vw;
    /* position: relative; */
}

#landing-image{
    position: absolute;
    height:60vw;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-text{
    margin: 2%;
    position: absolute;
    float: left;
    z-index: 2;
}
/*-----------------------------------teaser*/
.half{
    width: 50%;
}

.card{
    z-index: -2;
}
.card-image{
    z-index: -1;
}
.teaser-image{
    z-index: 1;
}
.teaser-overlay{
    background-color: rgb(40,40,40);
    background-size: cover;
    z-index: 2 !important;
}
.card-title{
    z-index: 3 !important;
}

.tabs p {

}