
/*--------------------------------------------cards*/
.half{
    width: 50%;
}

.card{
    z-index: -2;
}
.card-image{
    z-index: -1;
}
.teaser-image{
    z-index: 1;
}
.teaser-overlay{
    background-color: rgb(40,40,40);
    background-size: cover;
    z-index: 2 !important;
}
.card-title{
    z-index: 3 !important;
}
