<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <h3>Add your own recipe!</h3>
        <p>Help other users find a vegetarian or vegan recipe.</p>
    </div>
    <div class="row">
        <form action="{{ url_for('insert_recipe') }}" method="POST"  class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input name="name" id="name" type="text" class="validate" data-length="35" required>
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="input-field col s12">
                <select class="browser-default" name="category" id="category">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="vegan"> Vegan</option>
                    <option value="vegetarian"> Vegetarian</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">image</i>
                    <input name="imageURL" id="imageURL" type="text" class="validate" required>
                    <label for="imageURL">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_circle_outline</i>
                    <textarea name="ingredients" id="ingredients" class="materialize-textarea" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">access_time</i>
                    <input name="duration" id="duration" type="number" class="validate" min="10" max="120" step="10">
                    <label for="duration">Time to cook (10-120m)</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">people</i>
                    <input name="portions" id="portions" type="number" class="validate" min="2" max="12" step="2">
                    <label for="portions">Portions (2-12)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea name="instructions" id="instructions" class="materialize-textarea" required></textarea>
                    <label for="instructions">Instructions</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">SUBMIT</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

