<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

<section class="container">
    <!-- displays each individual recipe's information -->
    <div class="row">
        <div class="col s12 card">
            <img id="recipe-image" class="card-image" src="{{recipe.imageURL}}" alt="fruits">
            <h3 class="center-align">{{recipe.name}}</h3>
            <div class="container">
                <div class="row">
                    <div class="col s6 center-align">
                        <h5><i class="material-icons prefix">access_time</i> Time to cook: {{recipe.duration}}</h5>
                    </div>
                    <div class="col s6 center-align">
                        <h5><i class="material-icons prefix">people</i> Feeds: {{recipe.portions}} people</h5>
                    </div>
                </div>
                <div class="card-content left-align extra-padding">
                    <h5>Ingredients</h5>
                    <ul>
                        {% for ingredient in recipe.ingredients %} 
                        <li>{{ingredient.capitalize()}}</li> 
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h5>Instructions</h5>
                    <ol>
                        {% for instruction in recipe.instructions %}
                        <li>{{instruction.capitalize()}}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="row center">
                    <h5><i class="fas fa-thumbtack"></i> Recipe added by <b>{{recipe.username}}</b></h5>
                </div>
                <span></span>
            </div>
        </div>
    </div>
    <!-- displays other recipes in the same category -->
            <div class="row">
            <h4>Other recipes you might like..</h4>
                <div class="row">
                    {% for recipe in recipes %}
                            {% if loop.index > 3 %}
                            <div class="col s12 m4 l4">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="/recipe/{{recipe._id}}" target="_self">
                                        <img class="teaser-image" src="{{ recipe.imageURL }}">
                                        <span class="card-title">{{recipe.name}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    {% endfor %}
                </div>
        </div> 
</section>
{% endblock %}