<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col l7 m12 s12">
                <h3>About us</h3>
                <p>The Pink Turnip is a blog started for those who are not necessarily vegan or vegetarian, but are interested in learning more about vegetarian and vegan cooking. Nothing complicated.</p>
                <p>We start our journey to eat less meat - one monday a week!</p>
            </div>
            <div class="col l5 m12 s12">
                <img class="responsive-img" src="static/img/about/the-pink-turnip-1080x1300.png" alt="The Pink Turnip 1080x1300px">
            </div>
        </div>
    </div>
</section>
{% endblock %}