<!DOCTYPE html>
<html lang="en">

<head>
<!--Header-->
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=(device-width), initial-scale=1.0">
    <title>{% block title %}{% endblock %} The Pink Turnip</title>

    <!--css libraries-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- google fonts -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&display=swap');
    </style>

    <!--javascript libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/fec8644327.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166797407-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166797407-2');
    </script>


{% endblock %}
    
<!--Navigation menu-->

{% block navbar %}
  <nav class="nav-wrapper pink darken-1">
    <a href="../home" class="brand-logo" id="pink-turnip-logo" src="../static/img/the-pink-turnip-transparent-logo.png"></a>
    <a data-target="mobile-links" class="sidenav-trigger">
    <i class="material-icons">menu</i>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ url_for('all_recipes')}}"> All Recipes</a></li>
        {% for category in categories %}
        <li><a href="{{url_for('category', category_name=category.name)}}"> {{category.name}}</a></li>
        {% endfor %}
        <li><a href="{{ url_for('get_express')}}"> Express (30m or less!)</a></li>
    </ul>
    </a>
    
    <ul class="right hide-on-med-and-down">   
        <li><a href="{{ url_for('about')}}"> About</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="fa fa-envira"></i> Categories<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="{{ url_for('brands')}}"><i class="fa fa-heart"></i> Brands we love! </a></li>
        <li><a href="{{ url_for('profile')}}"><i class="fas fa-user-circle"></i> Profile</a></li>
        <!-- User Authentication -->
        {% if 'username' not in session %}
        <li><a href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        {% else %}
        <li><a href="{{ url_for('sign_out')}}"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
        {% endif %}
    </ul>
  </nav>

  <!--Mobile navigation menu-->
        <ul class="sidenav" id="mobile-links">
        <div class="container">
            <li><a href="../home">Home</a></li>
            <li><a href="{{ url_for('about')}}"> About</a></li>
            <li><a href="{{url_for('category', category_name='vegan')}}"><i class="fa fa-envira"></i> Vegan</a></li>
            <li><a href="{{url_for('category', category_name='vegetarian')}}"><i class="fas fa-leaf"></i> Vegetarian</a></li>
            <li><a href="{{ url_for('get_express')}}"><i class="far fa-clock"></i> Express</a></li>
            <li><a href="{{ url_for('brands')}}"><i class="fa fa-heart"></i> Brands </a></li>
            <li><a href="{{ url_for('profile')}}"><i class="fas fa-user-circle"></i><b> Profile</b></a></li>
            <!-- User Authentication -->
            {% if 'username' not in session %}
            <li><a href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i><b> Login</b></a></li>
            {% else %}
            <li><a href="{{ url_for('sign_out')}}"><i class="fas fa-sign-out-alt"></i><b> Sign Out</b></a></li>
            {% endif %}
        </div>
        </ul>
{% endblock %}
</head>

<!--Content-->
<body>
{% block body %}
{% endblock %}
</body>
<footer>
{% block footer %}
<div class="a-telier center">made by l'A-telier</div>
{% endblock %}
</footer>

</html>