<!DOCTYPE html>
<html lang="en">

<head>
<!--Header-->
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=(device-width), initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Recipes</title>

    <!--Styling libraries-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fec8644327.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}
    
<!--Navigation-->
{% block navbar %}
    <nav class="row">
        <div class="nav-wrapper col s12 m12 l12 xl12">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">Home</a></li>
                <li><a href="#!"><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian</a></li>
                <li><a href="#!"><i class="fa fa-heart" aria-hidden="true"></i> Vegan</a></li>
                <li><a href="#!"><i class="fa fa-pencil" aria-hidden="true"></i> Add your own!</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
</head>

<!--Content-->
<body>
{% block body %}
{% endblock %}
</body>

</html>