<!DOCTYPE html>
<html lang="en">

<head>
<!--Header-->
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=(device-width), initial-scale=1.0">
    <title>{% block title %}{% endblock %} The Pink Turnip</title>

    <!--css libraries-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- google fonts -->
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Homemade+Apple&display=swap');
    </style>

    <!--javascript libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/fec8644327.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
    
<!--Navigation menu-->

{% block navbar %}
  <nav class="nav-wrapper pink darken-1">
    <a href="../home" class="brand-logo" id="pink-turnip-logo" src="../static/img/the-pink-turnip-transparent-logo.png"></a>
    <a data-target="mobile-links" class="sidenav-trigger">
    <i class="material-icons">menu</i>
    </a>
        <!-- Dropdown Trigger -->
        <ul class="right hide-on-med-and-down">   
            <li><a href="{{ url_for('get_vege')}}"><i class="fa fa-envira"></i> Vegetarian</a></li>
            <li><a href="{{ url_for('get_vegan')}}"><i class="fa fa-heart"></i> Vegan</a></li>
            <li><a href="{{ url_for('get_express')}}"><i class="far fa-clock"></i> Express (30m or less!)</a></li>
            {% if 'username' not in session %}
            <li><a href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {% else %}
            <li><a href="{{ url_for('sign_out')}}"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
            {% endif %}
        </ul>
  </nav>

  <!--Mobile navigation menu-->
        <ul class="sidenav" id="mobile-links">
        <div class="container">
            <li><a href="../home">Home</a></li>
            <li><a href="{{ url_for('get_vege')}}"><i class="fa fa-envira"></i> Vegetarian</a></li>
            <li><a href="{{ url_for('get_vegan')}}"><i class="fa fa-heart"></i> Vegan</a></li>
            <li><a href="{{ url_for('get_express')}}"><i class="far fa-clock"></i> Express (30m or less!)</a></li>
            {% if 'username' not in session %}
            <li><a href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {% else %}
            <li><a href="{{ url_for('sign_out')}}"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
            {% endif %}
        </div>
        </ul>
{% endblock %}
</head>

<!--Content-->
<body>
{% block body %}
{% endblock %}
</body>
<footer>
{% block footer %}
<div class="a-telier center">made by l'A-telier</div>
{% endblock %}
</footer>

</html>