{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="teaser-container">
        <h1>Recipes</h1>
        {% for recipe in recipes %}
        {% if loop.index % 2 != 0 %}
        <div class="row">
            <div class="col l6 m12 s12">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.teaser}}</p>
            </div>
            <div class="col l6 m12 s12">
                <img class="responsive-img" src="{{ recipe.imageURL }}" alt="{{ recipe.name}}">
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col l6 m12 s12">
                <img class="responsive-img" src="{{ recipe.imageURL }}" alt="{{ recipe.name}}">
            </div>
            <div class="col l6 m12 s12">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.teaser}}</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}  
{% endblock %} 