<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
    <section>
    <!--landing page view needs to be added here-->
        <div class="landing" id="landing-image">
            <div class="row">
                <div id="landing-text" class="col s7 m8 l8">
                    <h1>The Pink Turnip</h1>
                    <h4>Meatless, one Monday at the time.</h4>
                    <div id="user-message">
                        <p>{{message}}</p>
                    </div>
                    <!-- <a class="waves-effect waves-light btn teal-text teal lighten-5"><i class="fa fa-envira" aria-hidden="true"></i> Try our vegetarian recipes! </a> -->
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h4>Be inspired by our favorite recipes..</h4>
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col s12 m6 l6">
                        <div class="card">
                        <a href="/recipe/{{recipe._id}}">
                            <div class="card-image">
                                <img class="teaser-image" src="{{ recipe.imageURL }}">
                                <span class="card-title">{{recipe.name}}</span>
                            </div>
                        </a>
                            <!--tag vegan, vegetarian or neither vegan nor vegatarian-->
                            <div class="card-content"> 
                                <ul class="tabs">
                                    {% if recipe.category == "vegetarian" %}
                                    <li class="tab half teal-text teal lighten-5">
                                            <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                    </li>
                                    {% elif recipe.category == "vegan" %}
                                    <li class="tab half pink-text pink lighten-5">
                                            <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                    </li>
                                    {% else %}
                                    <li class="tab red-text red lighten-5">
                                            <p><i class="fa fa-times" aria-hidden="true"></i> Not Vegetarian nor vegan </p>
                                    </li>
                                    {% endif%}
                                </ul>
                                <!--duration and portions as a message-->
                                <p class="text-centered">It takes <b>{{recipe.duration}} minutes </b> to make this recipe, and it <b> feeds {{recipe.portions}} people</b></p>
                            </div>
                            <div class="card-action">
                                <a href="/recipe/{{recipe._id}}">MAKE THIS RECIPE! <i class="fas fa-utensils"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div> 
    </section>
{% endblock %}