<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h3><i class="fa fa-heart" aria-hidden="true"></i> Vegan recipes</h3>
                <div class="row">
                    {% for recipe in recipes %}
                    {% if recipe.isVegan == True %}
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <span class="teaser-overlay responsive-img"></span>
                            <div class="card-image">
                                <img class="teaser-image" src="{{ recipe.imageURL }}">
                                <span class="card-title">{{recipe.name}}</span>
                            </div>
                            <div class="card-content">
                                <!--indicator vegan or vegetarian-->
                                <ul class="tabs">
                                    {% if recipe.isVegetarian == True and recipe.isVegan == False %}
                                    <li class="tab half teal-text teal lighten-5">
                                            <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                    </li>
                                    {% elif recipe.isVegan == True and recipe.isVegetarian == False %}
                                    <li class="tab half teal-text teal lighten-5">
                                            <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                    </li>
                                    {% elif recipe.isVegetarian == True and recipe.isVegan == True %}
                                    <li class="tab half teal-text teal lighten-5">
                                            <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                    </li>
                                    <li class="tab half teal-text teal lighten-5">
                                            <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                    </li>
                                    {% else %}
                                    <li class="tab red-text red lighten-5">
                                            <p><i class="fa fa-times" aria-hidden="true"></i> Not Vegetarian nor vegan </p>
                                    </li>
                                    {% endif%}
                                </ul>
                                <!--indicator duration and portions in text format-->
                                {% if recipe.duration != 0 and recipe.portion != 0 %}
                                    <p class="text-centered">It takes <b>{{recipe.duration}} minutes </b> to make this recipe, and it <b> feeds {{recipe.portions}} people</b></p>
                                {% endif %}
                            </div>
                            <div class="card-action">
                                <a href="/recipe/{{recipe._id}}>">Go to recipe!</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
        </div> 
    </section>
{% endblock %}