<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

<section class="container">
    <!-- Here goes the user information  -->
    <div>
        <h3>Welcome, {{session.username}} ! </h3>
        <p>Our mission as The Pink Turnip is to inspire people like you and me, who probably have not been exposed to vegetarian dishes before, to start a more veggie-friendly lifestyle! For that reason, we rely heavily on our community (you!) to share your awesome recipes with others.</p>
        <p>We look forward to see what is... 'cooking' in your kitchen!</p>
        <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn-small"><i class="material-icons right">add</i>Add a recipe!</a>
    </div>

    <!-- Here go all the recipes that the username has created -->
    <div>
        <div class="row">
            <h4>Your shared recipes <i class="fas fa-utensil-spoon"></i></h4>
        </div>
        <div class="row">
        {% for recipe in recipes %}
            {% if recipe.username == session.username %}
                    <div class="col s12 m4 l4">
                        <div class="card">
                            <span class="teaser-overlay responsive-img"></span>
                            <div class="card-image">
                                <img class="teaser-image" src="{{ recipe.imageURL }}">
                                <span class="card-title">{{recipe.name}}</span>
                                <a href="/edit_recipe/{{recipe._id}}" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">create</i></a>
                            </div>
                            <!--indicator vegan or vegetarian-->
                            <div class="card-content"> 
                                <ul class="tabs">
                                    {% if recipe.isVegetarian == True and recipe.isVegan == False %}
                                    <li class="tab half teal-text teal lighten-5">
                                        <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                    </li>
                                    {% elif recipe.isVegan == True and recipe.isVegetarian == False %}
                                    <li class="tab half teal-text teal lighten-5">
                                        <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                    </li>
                                    {% elif recipe.isVegetarian == True and recipe.isVegan == True %}
                                    <li class="tab half teal-text teal lighten-5">
                                        <p><i class="fa fa-envira" aria-hidden="true"></i> Vegetarian </p>
                                    </li>
                                    <li class="tab half teal-text teal lighten-5">
                                        <p><i class="fa fa-heart" aria-hidden="true"></i> Vegan </p>
                                    </li>
                                    {% else %}
                                    <li class="tab red-text red lighten-5">
                                        <p><i class="fa fa-times" aria-hidden="true"></i> Not Vegetarian nor vegan </p>
                                    </li>
                                    {% endif%}
                                </ul>
                                <!--indicator duration and portions in text format-->
                                <p class="text-centered">It takes <b>{{recipe.duration}} minutes </b> to make this recipe, and it <b> feeds {{recipe.portions}} people</b></p>
                            </div>
                            <div class="card-action">
                                <a href="/recipe/{{recipe._id}}">MAKE THIS RECIPE! <i class="fas fa-utensils"></i></a>
                            </div>
                            <a href="/delete_recipe/{{recipe._id}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
            {% elif recipe.username is none %}
                <p>"{{session.username}}, you have not created any recipes yet! Click on this link or use the above to start sharing your recipes."</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

